<div class="col-xs-3">
    <div class="sidenav">
        <b>Control Panel</b>
        <ul>
            <li>@Html.ActionLink("Update Account", "UpdateAccount", "MyAccount")</li>
            <li>Update Makes</li>
            <li>Update Models</li>
            <li>Update Frames</li>
            <li>Update Colors</li>

        </ul>
    </div>
</div>
