@model List<Exercises.Models.Data.Major>

@{
    ViewBag.Title = "Bike Frames";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Majors</h3>
        @Html.ActionLink("Add Major", "AddMajor", "Admin", null, new { @class="btn btn-primary"})
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
            <tr>
                <th>Major</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach(var major in Model)
            {
                <tr>
                    <td>@major.MajorName</td>
                    <td>
                        @Html.ActionLink("Edit", "EditMajor", "Admin", new { id = major.MajorId }, null) | 
                        @Html.ActionLink("Delete", "DeleteMajor", "Admin", new { id = major.MajorId }, null)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>