@Model string
@{
    ViewBag.Title = "Conrol Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    @Html.Partial("_SideNavPartial")
    <div class="col-xs-9">

    Welcome

    </div>
</div>
