@model bikes.models.VMs.FramesListViewModel

@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MngFrames</title>
</head>
<body>

    <div class="row">
        @Html.Partial("_SideNavPartial")
        <div class="col-xs-10">
            <h3>Frames</h3>
            @Html.ActionLink("Add Frame", "AddFrame", "SiteAdmin", null, new { @class = "btn btn-primary" })

            <ul>
                @foreach (var frame in Model.BikeFrames)
                {
                    <li>@frame.BikeFrame</li>
                }
            </ul>
        </div>
    </div>

</body>
</html>
